<a href="https://colab.research.google.com/github/amankumar114/1st/blob/master/Aman_pyspark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
x = 100
y = 200
print(x+y)

300

In [2]:
print("Hello all, good afternoon,we are learning Spark and we are not happy")

Hello all, good afternoon,we are learning Spark and we are not happy

In [3]:
pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.0.tar.gz (281.3 MB)
     |████████████████████████████████| 281.3 MB 46 kB/s
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 61.9 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.0-py2.py3-none-any.whl size=281764026 sha256=3e51566f13ee1e8abaadb2a7f51ce2aaccf1622cf5af7f4ef76f527e4e46829b
  Stored in directory: /root/.cache/pip/wheels/7a/8e/1b/f73a52650d2e5f337708d9f6a1750d451a7349a867f928b885
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.0

In [4]:
import pandas as pd

In [5]:
 #SparkSession -entrypoint to spark - creates Session for the user 

from pyspark.sql import SparkSession 
spark = SparkSession.builder.getOrCreate()

In [10]:
# sample RDD creation - RDD is resilient distributed dataset - its basic building block in Spark
from pyspark.sql import SparkSession 
spark = SparkSession.builder.appName("Pyspark create RDD example").config("spark.some.config.option","some-value").getOrCreate()
Student = spark.createDataFrame([
('10001','Anuj','70%','B.Tech(cs)'),
('10002','Madhu','70%','B.Tech(EC)'),
('10003','Manita','70%','B.Tech(TE)'),
('10004','Sudiksha','70%','B.Tech(BT)'),
('10005','Shashank','70%','B.Tech(cs)'),
('10006','Prashant','70%','B.Tech(cs)'),
('10007','Vanshika','70%','B.Tech(EC)')],
['Roll No','Name','Percentage','Department']
)

Student.show()

+-------+--------+----------+----------+
|Roll No|    Name|Percentage|Department|
+-------+--------+----------+----------+
|  10001|    Anuj|       70%|B.Tech(cs)|
|  10002|   Madhu|       70%|B.Tech(EC)|
|  10003|  Manita|       70%|B.Tech(TE)|
|  10004|Sudiksha|       70%|B.Tech(BT)|
|  10005|Shashank|       70%|B.Tech(cs)|
|  10006|Prashant|       70%|B.Tech(cs)|
|  10007|Vanshika|       70%|B.Tech(EC)|
+-------+--------+----------+----------+

In [16]:
# sample RDD creation - using parallelize method

from pyspark.sql import SparkSession 
spark = SparkSession.builder.appName("Pyspark create RDD example").config("spark.some.config.option","some-value").getOrCreate()
df = spark.sparkContext.parallelize ([
(12,20,35,'a b c'),
(41,34,64,'d e f'),
(70,85,68,'g e f')]).toDF(['col1','col2','col3','col4'])                                      

df.show()

+----+----+----+-----+
|col1|col2|col3| col4|
+----+----+----+-----+
|  12|  20|  35|a b c|
|  41|  34|  64|d e f|
|  70|  85|  68|g e f|
+----+----+----+-----+

In [6]:
pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pyspark in /usr/local/lib/python3.7/dist-packages (3.3.0)
Requirement already satisfied: py4j==0.10.9.5 in /usr/local/lib/python3.7/dist-packages (from pyspark) (0.10.9.5)

In [17]:
# Loading sample data from dataframe

import pandas as pd 
df = pd.DataFrame.from_dict(
    { 'Name':['Nik','Nik','Jane','Jane'],
     'Year' : [2020,2021,2022,2019] ,
     'Sales' : [1000,2300,2500,3000],

} )

print(df)

   Name  Year  Sales
0   Nik  2020   1000
1   Nik  2021   2300
2  Jane  2022   2500
3  Jane  2019   3000

In [18]:
# dataframe creation from a list of rows :

from datetime import datetime , date
import pandas as pd 
from pyspark.sql import Row
df = spark.createDataFrame([
          Row(a=1, b=2, c='string1', d=date(2022, 1,1), e= datetime(2022,1,1, 12,0)),  
          Row(a=2, b=3, c='string2', d=date(2022, 2,1), e= datetime(2022,1,2, 12,0)),            
          Row(a=3, b=4, c='string3', d=date(2022, 3,1), e= datetime(2022,1,3, 12,0)),                      
])

df.show()

+---+---+-------+----------+-------------------+
|  a|  b|      c|         d|                  e|
+---+---+-------+----------+-------------------+
|  1|  2|string1|2022-01-01|2022-01-01 12:00:00|
|  2|  3|string2|2022-02-01|2022-01-02 12:00:00|
|  3|  4|string3|2022-03-01|2022-01-03 12:00:00|
+---+---+-------+----------+-------------------+

In [19]:
df.show(1)

+---+---+-------+----------+-------------------+
|  a|  b|      c|         d|                  e|
+---+---+-------+----------+-------------------+
|  1|  2|string1|2022-01-01|2022-01-01 12:00:00|
+---+---+-------+----------+-------------------+
only showing top 1 row

In [20]:
df.show(3)

+---+---+-------+----------+-------------------+
|  a|  b|      c|         d|                  e|
+---+---+-------+----------+-------------------+
|  1|  2|string1|2022-01-01|2022-01-01 12:00:00|
|  2|  3|string2|2022-02-01|2022-01-02 12:00:00|
|  3|  4|string3|2022-03-01|2022-01-03 12:00:00|
+---+---+-------+----------+-------------------+