<a href="https://colab.research.google.com/github/amankumar114/1st/blob/master/cp2_pyspark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('hello,all!')

In [ ]:
pip install pyspark

In [ ]:
import pandas as pd
df=pd.read_csv("/content/sample_data/california_housing_train.csv")
print(df)

In [ ]:
import pandas as pd
df=pd.read_csv("/content/sample_data/mnist_test.csv")
print(df)

In [ ]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.getOrCreate()

In [ ]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName("Pyspark Create RDD example").config("spark.some.config.option","some-value").getOrCreate()
Student=spark.createDataFrame([
('01','Ram','70%','B.Tech(cs)'),
('02','Shaym','70%','B.Tech(ec)'),
('03','Madhu','70%','B.Tech(te)'),
('04','Mita','70%','B.Tech(cs)'),
('05','Hari','70%','B.Tech(cs)'),
('06','Rita','70%','B.Tech(cs)'),
('07','Ramm','70%','B.Tech(ec)')],
['Roll No','Name','Percentage','Dept'])
Student.show()

In [ ]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName("Pyspark Create RDD example").config("spark.some.config.option","some-value").getOrCreate()
df=spark.sparkContext.parallelize([
(12,20,35,'a b c'),
(41,34,64,'d e f'),
(70,85,68,'g e f')]).toDF(['col1','col2','col3','col4'])
df.show()

In [ ]:
import pandas as pd
df=pd.DataFrame.from_dict({'Name':['Nik','Nik','Jane','Jane'],
'Year':[2020,2021,2022,2019],
'Sales':[1000,2300,2500,3000]})
print(df)

In [ ]:
from datetime import datetime,date
import pandas as pd
from pyspark.sql import Row
df=spark.createDataFrame([
Row(a=1,b=2,c='string1',d=date(2022,1,1),e=datetime(2022,1,1,12,0)),
Row(a=2,b=3,c='string2',d=date(2022,2,1),e=datetime(2022,1,2,12,0)),
Row(a=3,b=4,c='string3',d=date(2022,3,1),e=datetime(2022,1,3,12,0)),])
df.show()
df.show(2)

In [ ]:
rdd=spark.sparkContext.parallelize(
[(1,2.,'string1',date(2022,1,1),datetime(2022,1,1,12,0)),
(2,3.,'string2',date(2022,1,1),datetime(2022,1,1,12,0)),
(3,4.,'string3',date(2022,1,1),datetime(2022,1,1,12,0))])
df=spark.createDataFrame(rdd,schema=['a','b','c','d','e'])
df.show()

In [ ]:
rdd=spark.sparkContext.parallelize(
[(1,2.,'string1',date(2022,1,1),datetime(2022,1,1,12,0)),
(2,3.,'string2',date(2022,1,1),datetime(2022,1,1,12,0)),
(3,4.,'string3',date(2022,1,1),datetime(2022,1,1,12,0))])
df
df.show()
df.select('a','b','c').describe().show()

In [ ]:
df.select('b').show()

In [ ]:
from pyspark.sql import Column
from pyspark.sql.functions import upper
type(df.c)==type(upper(df.c))==type(df.c.isNull())
df.withColumn('upper_c',upper(df.c)).show()

In [ ]:
df=spark.createDataFrame([
['red','banana',1,10],['blue','banana',2,20],['red','carrot',3,30],
['blue','grape',4,40],['red','carrot',5,50],['black','carrot',6,60],
['red','cherry',7,70],['blue','grape',8,80]],schema=['color','fruit','v1','v2'])
df.show()

In [ ]:
df.groupby('color').avg().show()

In [ ]:
df.groupby('color').count().show()

In [ ]:
from pyspark import SparkContext
sc=SparkContext.getOrCreate()
words=sc.parallelize(['Python','Java','Hadoop','C','C++','Spark Vs Hadoop','Pyspark Vs Spark'])
counts=words.count()
print('Number of elements present in RDD -> %i'%(counts))

In [ ]:
from pyspark import SparkContext
sc=SparkContext.getOrCreate()
words=sc.parallelize(['Python','Java','Hadoop','C','C++','Spark Vs Hadoop','Pyspark Vs Spark'])
def f(x):
  print(x)
  fore=words.foreach(f)

In [ ]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql import functions as F
spark=SparkSession.builder.appName('sparkdf').getOrCreate()
data=[(1201,('sandipan','paul'),10000,24),
(1201,('arman','mishra'),50000,26),
(1201,('prasant','attri'),20000,25),
(1201,('shasank','venna'),20000,24),
(1201,('shriti','p'),30000,27),
(1201,('vanshika','jain'),50000,26),
(1201,('saikat','dutta'),10000,20),
(1201,('pritam','d'),20000,24),
(1201,('muskan','rohada'),80000,23),]
columns=['EmpId','EmpName','Salary','Age']
df=spark.createDataFrame(data,columns)
print('original data')
df.show()

In [ ]:
df2=df.where(df.Age>=24)
df2.show()

In [ ]:
df2=df.where((df.Age==24) & (df.Salary>10000))
df2.show()
df2=df.where(df['Age']==24)
df2.show()
df2=df.where('Age==24')
df2.show()

In [ ]:
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession \
      .builder \
      .appName('Python Spark create RDD example') \
      .config('spark.some.config.option','some value') \
      .getOrCreate()
df = spark.read.format('csv') . \
             options(header='true', \
                     inferschema='true'). \
             load("/content/Companies.csv",header=True)

df.show(5)
df.printSchema()

In [ ]:
import pandas as pd
ds=pd.Series([2,4,6,8,9])
print(ds)

In [ ]:
import pandas as pd
ds1=pd.Series([2,4,6,8,18])
ds2=pd.Series([1,2,3,4,5])
ds=ds1+ds2
print(ds)
ds=ds1-ds2
print(ds)
ds=ds1*ds2
print(ds)
ds=ds1/ds2
print(ds)

In [ ]:
import pandas as pd
ds1=pd.Series([2,4,6,8,10])
ds2=pd.Series([1,2,3,4,5])
print(ds1)
print(ds2)
print(ds1==ds2)
print(ds1>ds2)
print(ds1<ds2)

In [ ]:
pip install pyspark

In [ ]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.getOrCreate()

In [ ]:
import pandas as pd
d1={'a':100,'b':200,'c':300,'d':400,'e':500}
print(d1)
new_series=pd.Series(d1)
print(new_series)

In [ ]:
import numpy as np
np_array=np.array([10,20,30,40,50])
print(np_array)
new_series=pd.Series(np_array)
print(new_series)

In [ ]:
s1=pd.Series(['100','200','300','python','300.70','400'])
print(s1)
a=np.array(s1.values.tolist())
print(a)

In [ ]:
s=pd.Series([['Red','Green','White'],['Red','Black','Cyan'],['Yellow']])
print(s)
s=s.apply(pd.Series).stack().reset_index(drop=True)
print(s)
print(pd.Series(s).sort_values())

In [ ]:
s=pd.Series(data=[1,2,3,4,5],index=['A','B','C','D','E'])
print(s)
s=s.reindex(index=['C','B','D','A','E'])
print(s)

In [ ]:
num_state=np.random.RandomState(100)
num_series=pd.Series(num_state.normal(10,4,20))
print(num_series)
result=np.percentile(num_series,q=[0,25,50,75,100])
print(result)

In [ ]:
import pandas as pd
series1=pd.Series([1,2,3,4,5,6,7,8,9,10])
series2=pd.Series([1,3,5,7,9])
print(series1)
print(series2)
result=[pd.Index(series1).get_loc(i)for i in series2]
print(result)

In [ ]:
exam_data={'name':['Anderson','sai','kat'],
'score':[12.5,40,20],
'attemps':[1,2,3],
'qualified':['yes','yes','no']}
labels=['a','b','c']
df=pd.DataFrame(exam_data,index=labels)
print(df[df['score'].between(10,20)])

In [ ]:
exam_data={'name':['Anderson','sai','kat'],
'score':[12.5,40,20],
'attemps':[1,2,3],
'qualified':['yes','yes','no']}
labels=['a','b','c']
df=pd.DataFrame(exam_data,index=labels)
print(df['score'].mean())

In [ ]:
exam_data={'name':['Anderson','sai','kat'],
'score':[12.5,40,20],
'attemps':[1,2,3],
'qualified':['yes','yes','no']}
labels=['a','b','c']
df=pd.DataFrame(exam_data,index=labels)
df['name']=df['name'].replace('sai','dutta')
print(df)

In [ ]:
d={'col1':[1,4,5,6,7],'col2':[4,5,6,7,8],'col3':[7,8,9,11,12]}
df=pd.DataFrame(data=d)
print(df)
df2={'col1':10,'col2':20,'col3':12}
df=df.append(df2,ignore_index=True)
print(df)

In [ ]:
d={'col1':[1,4,5,6,7],'col2':[4,5,6,7,8],'col3':[7,8,9,11,12]}
df=pd.DataFrame(data=d)
print(df)
if'col4' in df.columns:
  print('present')
else:
  print('not present')
if'col1' in df.columns:
  print('present')
else:
  print('not present')

In [ ]:
df=pd.DataFrame({'school_code':['s001','s002','s003'],
'class':['v','vi','vii'],'name':['aschool','bschool','cschool']})
print(df)
df1=df.set_index('school_code')
print(df1)

In [ ]:
df_i64=pd.DataFrame({'school_code':['s001','s002','s003'],
'class':['v','vi','vii'],'name':['aschool','bschool','cschool']},
index=[1,2,3])
print(df_i64)
print(df_i64.index)
df_f64=pd.DataFrame({'school_code':['s001','s002','s003'],
'class':['v','vi','vii'],'name':['aschool','bschool','cschool']},
index=[0.1,0.2,0.3])
print(df_f64)

In [ ]:
import pandas as pd
series1=pd.Series([1,2,3,4,5,6,7,8,9,10],
index=['sid01','sid02','sid03','sid04','sid05','sid06','sid07','sid08','sid09','sid10'])
print(series1)
print(series1.index)

In [ ]:
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'Ramesh', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df=pd.DataFrame(exam_data,index=labels)
df['name']=df['name'].replace('Ramesh','Ganesh')
print(df)

In [ ]:
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df=pd.DataFrame(exam_data,index=labels)
print(df[df['score'].between(15,20)])

In [ ]:
import pandas as pd
sampleseries = pd.Series(['Suresh', 'ganesh', 'mahesh', 'Sudarshan'])
print("Original Series:")
print(sampleseries)
result = sampleseries.map(lambda x: x[0].upper() + x[1:-1] + x[-1].upper())
print("\n after upper case:")
print(result)

In [ ]:
import pandas as pd
ds=pd.Series([1,3,4,5,6,7,8,9],index=[0,1,2,3,4,5,6,7])
print(ds)
x=ds[ds==9].index[0]
print(x)

In [ ]:
import numpy as np
s=pd.Series(['X','Y','Z','AaBa','Baca',np.nan,None])
print(s)
print(s.str.upper())
print(s.str.lower())
print(s.str.len())

In [ ]:
import pandas as pd
student_data1 = pd.DataFrame({
    'student_id':['S1','S2','S3','S4','S5'],
    'name':['Daniel Freeman','Ryder Scott','Bruce Andros','Ed Bern','Morris Kwin'],
    'Marks':[540, 530, 440, 560, 430]
    })
student_data2 = pd.DataFrame({
    'student_id':['S4','S5','S6','S7','S8'],
    'name':['Scarletter Fisher','Carla Williamson','Dante Hector','Kaiser William','Peterson Andrews'],
    'Marks':[490,532,445,569,439]
})
print("Original DataFrames")
print(student_data1)
print("----------------")
print(student_data2)
print("\nJoin the said DataFrames along with the rows")
result_data = pd.concat([student_data1, student_data2])
print(result_data)

In [ ]:
import pandas as pd
student_data1 = pd.DataFrame({
    'student_id':['S1','S2','S3','S4','S5'],
    'name':['Daniel Freeman','Ryder Scott','Bruce Andros','Ed Bern','Morris Kwin'],
    'Marks':[540, 530, 440, 560, 430]
    })
student_data2 = pd.DataFrame({
    'student_id':['S4','S5','S6','S7','S8'],
    'name':['Scarletter Fisher','Carla Williamson','Dante Hector','Kaiser William','Peterson Andrews'],
    'Marks':[490,532,445,569,439]
})
print("Original DataFrames")
print(student_data1)
print("----------------")
print(student_data2)
print("\nJoin the said DataFrames along with the rows")
result_data = pd.concat([student_data1, student_data2],axis=1)
print(result_data)

In [ ]:
student_data1 = pd.DataFrame({
    'student_id':['S1','S2','S3','S4','S5'],
    'name':['Daniel Freeman','Ryder Scott','Bruce Andros','Ed Bern','Morris Kwin'],
    'Marks':[540, 530, 440, 560, 430]
    })
s6=pd.Series(['S6','Scarlettee fisher','590'],index=['student_id','name','Marks'])
print(student_data1)
print(s6)
combined_data=student_data1.append(s6,ignore_index=True)
print(combined_data)

In [ ]:
merged_data=pd.merge(student_data1,student_data2,on='student_id',how='outer')
print(merged_data)

In [ ]:
import datetime
from datetime import datetime
print(datetime(2022,7,19,9,00))
print(datetime.now())
print(datetime.date(datetime(2022,7,19)))
print(datetime.now().date())
print(datetime.time(datetime(2022,7,19,11,00)))
print(datetime.now().time())

In [ ]:
print(pd.Timestamp('2022-01-01'))
print(pd.Timestamp('2022-01-01 11:30'))
print(pd.Timestamp('2022-01-01'))
print(pd.Timestamp('11:30'))
print(pd.Timestamp('2022-01-01'))
print(pd.Timestamp('now'))

In [ ]:
from datetime import datetime
date1=datetime(year=1968,month=12,day=26)
print(date1)
from dateutil import parser
date2=parser.parse('1st January,1991')
print(date2)

In [ ]:
pd.set_option('display.max_rows',None)
df=pd.DataFrame({
'Cust_No':[9000101,9000101,np.nan,9000101,np.nan],
'Account_balance':[10000,12000,np.nan,10000,np.nan],
'date':['2018-10-05','2018-10-05','2018-10-05','2018-10-05','2018-10-05']})
print(df)
print(df.isna())

In [ ]:
import pandas as pd
df=pd.read_excel('/content/Sales Tracker.xlsx')
print(df)

In [ ]:
import pandas as pd
cols=[1,2]
df=pd.read_excel('/content/Sales Tracker.xlsx',usecols=cols)
print(df)

In [ ]:
import matplotlib.pyplot as plt
import numpy as np
from sklearn import linear_model
house_prices=[245,312,279,308,199,219,405,319,324,255]
house_size=[1400,1600,1700,1100,1550,2350,2450,1425,1700,1875]
print(house_size)
new_house_size=np.array(house_size).reshape((-1,1))
print(new_house_size)
reg_model=linear_model.LinearRegression()
reg_model.fit(new_house_size,house_prices)
print('coefficients: ',reg_model.coef_)
print('intercept:',reg_model.intercept_)
def graph(formula,x_range):
  x=np.array(x_range)
  y=eval(formula)
  plt.plot(x,y)
  
graph('reg_model.coef_*x+reg_model.intercept_',range(1000,2700))
plt.scatter(new_house_size,house_prices,color='black')
plt.ylabel('house prices')
plt.xlabel('house sizes')
plt.show()

In [ ]:
import matplotlib.pyplot as plt
x=[1,2,3,4,5]
y=[10,20,30,40,50]
plt.scatter(x,y)
plt.show()

In [ ]:
from scipy import stats
x=[1,2,3,4,5]
y=[10,20,30,40,50]
slope,intercept,r,p,std_err=stats.linregress(x,y)
def myfunc(x):
  return slope*x+intercept
mymodel=list(map(myfunc,x))
plt.scatter(x,y)
plt.plot(x,mymodel)
plt.show()

In [ ]:
import matplotlib.pyplot as plt
x=[1,2,3,4,5,6,7,8,9,10]
y=[11,22,33,44,55,66,77,88,99,100]
plt.scatter(x,y)
plt.show()

In [ ]:
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans
data=list(zip(x,y))
inertias=[]

for i in range(1,11):
  kmeans=KMeans(n_clusters=i)
  kmeans.fit(data)
  inertias.append(kmeans.inertia_)

plt.plot(range(1,11),inertias,marker='o')
plt.title('elbow method')
plt.xlabel('number of cluster')
plt.ylabel('inertia')
plt.show()
kmeans=KMeans(n_clusters=2)
kmeans.fit(data)
plt.scatter(x,y,c=kmeans.labels_)
plt.show()

In [ ]:
x=[5,6,7,8,9]
y=[18,20,23,29,27]
classes=[0,1,0,1,1]
plt.scatter(x,y,c=classes)
plt.show()

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
data=list(zip(x,y))
knn=KNeighborsClassifier(n_neighbors=1)
knn.fit(data,classes)

In [ ]:
new_x=8
new_y=21
new_point=[(new_x,new_y)]
prediction=knn.predict(new_point)
plt.scatter(x+[new_x],y+[new_y],c=classes+[prediction[0]])
plt.text(x=new_x-1.7,y=new_y-0.7,s=f'new pont,class:{prediction[0]}')
plt.show()

In [ ]:
knn=KNeighborsClassifier(n_neighbors=5)
knn.fit(data,classes)
prediction=knn.predict(new_point)
plt.scatter(x+[new_x],y+[new_y],c=classes+[prediction[0]])
plt.text(x=new_x-1.7,y=new_y-0.7,s=f'new pont,class:{prediction[0]}')
plt.show()

In [ ]:
import pyspark
from pyspark.sql import SparkSession
spark=SparkSession.builder.getOrCreate()
df=spark.sql('''select 'spark' as hello ''')
df.show()

In [ ]:
from pyspark import SparkContext
from pyspark.sql import SQLContext
import pyspark.sql
companies=spark.read.csv("/content/Companies.csv" ,inferSchema=True,header=True)
companies.show()
companies.select('State').show()
companies.filter(companies['State']=='California').show()
companies.groupBy('State').count().show()

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import style
style.use("fivethirtyeight")
%matplotlib inline
import seaborn as sns
from statsmodels.stats.outliers_influence import variance_inflation_factor
from sklearn.model_selection import train_test_split
import warnings
warnings.filterwarnings('ignore')

from sklearn import preprocessing 
from sklearn.preprocessing import StandardScaler # For Feature Scaling
from sklearn import linear_model
from sklearn.metrics import mean_squared_error

In [ ]:
#importing the required dataset

df=pd.read_csv("/content/dev_demog.csv")
df.head()

In [ ]:
#shape of the data(rows , columns)
df.shape

In [ ]:
df.info()

In [ ]:
df.isnull().sum()

In [ ]:
null = pd.DataFrame({'Null_Values' : df.isna().sum(), 'Percentage_Null_Values' :
                     round((df.isna().sum()) / (df.shape[0]) * (100),2)})
null

In [ ]:
percent_null = round((df.isnull().sum()/df.shape[0])*100,2)
percent_null

In [ ]:
# identify columns only with null values
null_columns = percent_null[percent_null>35]
null_columns

In [ ]:
# removing 5 columns having null percentage more than 35%.
df = df.drop(null_columns.index, axis =1)
df.shape

In [ ]:
dfn=df.select_dtypes(exclude=["bool_","object_"])
dfn.head()

In [ ]:
dfn.columns

In [ ]:
dfn.drop(['Dummy_application_id',
          'Doc_form_16','income_min','edu_max','age_min','emi_income_max'],1,inplace=True)

In [ ]:
demog = dfn
demog

In [ ]:
demog.columns

In [ ]:
out = ['Max_dependent', 'LTV', 'income_max', 'income_sum', 'edu_min',
       'age_max', 'cnt_coapplicant', 'REQUESTED_TENUREFLAG',
       'PROPERTY_INSURANCE_AMT', 'City_tier', 'FOIR2', 'emi_income_sum']

In [ ]:
print(plt.style.available)

In [ ]:
style.use("seaborn-pastel")
n = 1
plt.figure(figsize=(20,10))

for i in out:
    plt.subplot(4,3,n)
    sns.boxplot(y=demog[i],color = 'violet')
    n+=1
plt.tight_layout()

In [ ]:
def remove_outlier_using_IQR(demog):
    Q1=demog.quantile(0.25)
    Q3=demog.quantile(0.75)
    IQR=Q3-Q1
    df_final_output = np.where(demog> (Q1+1.5*IQR) , (Q1+1.5*IQR) ,
                        np.where(demog< (Q1-1.5*IQR), (Q1-1.5*IQR),
                                 demog))
    return df_final_output

In [ ]:
out1 = ['income_sum',
            'FOIR2',
           'income_max',
       'emi_income_sum']

In [ ]:
for i in out1:
    demog[i] = remove_outlier_using_IQR(demog[i])

In [ ]:
style.use("seaborn-pastel")
n = 1
plt.figure(figsize=(20,10))

for i in out1:
    plt.subplot(2,2,n)
    sns.boxplot(y=demog[i],color = 'm')
    n+=1
plt.tight_layout()

In [ ]:
demog.head()

In [ ]:
percent_null = round((demog.isnull().sum()/df.shape[0])*100,2)
percent_null.head()

In [ ]:
# identify columns only with null values
null_columns = percent_null[percent_null>0]
null_columns

In [ ]:
num_col = ['FOIR2','LTV','income_sum','income_max',
           'emi_income_sum']
for col in num_col:
    demog[col]=pd.to_numeric(demog[col])
    demog[col].fillna(demog[col].mean(), inplace=True)

In [ ]:
demog.isnull().sum()

In [ ]:
demog.describe()

In [ ]:
demog.skew()

In [ ]:
x1 = demog[['Max_dependent','LTV','income_sum','income_max','edu_min',
        'age_max',
        'cnt_coapplicant',
        'PROPERTY_INSURANCE_AMT',
        'City_tier',
        'FOIR2']]

y = demog['ever60_24m_StrictFlag']

In [ ]:
sc = StandardScaler()
x2= sc.fit_transform(x1)

In [ ]:
demog_data = pd.DataFrame(x2)

demog_data.columns = x1.columns

demog_data

In [ ]:
#Checking the VIF Value

from statsmodels.stats.outliers_influence import variance_inflation_factor

vif = pd.DataFrame()

vif["VIF"] =[variance_inflation_factor(demog_data.values, j) for j in range(demog_data.shape[1])]
vif["features"] = demog_data.columns

In [ ]:
vif

In [ ]:
x=demog_data

In [ ]:
#for splitting the dataset into test data and train data
from sklearn.model_selection import train_test_split

In [ ]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=232)

In [ ]:
#Understanding the shape/dimensions of x_train, y _train, etc.
print(x_train.shape, y_train.shape)
print(x_test.shape, y_test.shape)

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score,confusion_matrix, roc_curve, roc_auc_score
from sklearn.metrics import classification_report

In [ ]:
# Fitting the Logistic Regression model
log_reg = LogisticRegression()
log_reg.fit(x_train,y_train)

In [ ]:
# Calculating the predicted value of Y
y_pred = log_reg.predict(x_test)
y_pred

In [ ]:
# Creating the Confusion Matrix
con_mat = confusion_matrix(y_test,y_pred)
con_mat

In [ ]:
# Calculating the Accuracy using actual y value in test data to the predicted y value
accuracy = accuracy_score(y_test,y_pred)
accuracy

In [ ]:
print(classification_report(y_test,y_pred))

In [ ]:
# Using sm.GLM()
import statsmodels.api as sm
x_train_d = sm.add_constant(x_train)
x_test_d = sm.add_constant(x_test)

In [ ]:
m = sm.GLM(y_train,x_train_d,family=sm.families.Binomial())
model = m.fit()

In [ ]:
print(model.summary())

In [ ]:
auc = roc_auc_score(y_test,y_pred)
auc

In [ ]:
# Plotting the ROC
fpr,tpr,thresholds = roc_curve(y_test,y_pred)
plt.plot(fpr,tpr,color='orange',label='ROC')
plt.plot([0,1],[0,1],color='darkblue',linestyle='--',label='ROC curve area=%0.2f'%auc)
plt.xlabel('False Positive Rate',c='brown')
plt.ylabel('True Positive Rate',c='brown')
plt.title('ROC')
plt.legend()
plt.show

In [ ]:
y.value_counts()

In [ ]:
import os
import numpy as np
import pandas as pd
import sklearn
from imblearn.over_sampling import RandomOverSampler
from imblearn.under_sampling import RandomUnderSampler

In [ ]:
#oversampling
over_sampler = RandomOverSampler()
x1,y1 = over_sampler.fit_resample(x,y)

In [ ]:
x.shape , y.shape

In [ ]:
x1.shape , y1.shape

In [ ]:
from collections import Counter
print('Original dataset shape {}'.format(Counter(y)))
print('Resampled dataset shape {}'.format(Counter(y1)))

In [ ]:
x1

In [ ]:
x_train1,x_test1,y_train1,y_test1 = train_test_split(x1,y1,test_size=0.2,random_state=232)

In [ ]:
#Understanding the shape/dimensions of x_train, y _train, etc.
print(x_train1.shape, y_train1.shape)
print(x_test1.shape, y_test1.shape)

In [ ]:
# Fitting the Logistic Regression model
log_reg = LogisticRegression()
log_reg.fit(x_train1,y_train1)

In [ ]:
# Calculating the predicted value of Y
y_pred1 = log_reg.predict(x_test1)
y_pred1

In [ ]:
# Creating the Confusion Matrix
con_mat1 = confusion_matrix(y_test1,y_pred1)
con_mat1

In [ ]:
# Calculating the Accuracy using actual y value in test data to the predicted y value
accuracy1 = accuracy_score(y_test1,y_pred1)
accuracy1

In [ ]:
print(classification_report(y_test1,y_pred1))

In [ ]:
# Using sm.GLM()
import statsmodels.api as sm
x_train_d1 = sm.add_constant(x_train1)
x_test_d1 = sm.add_constant(x_test1)

In [ ]:
m = sm.GLM(y_train1,x_train_d1,family=sm.families.Binomial())
model1 = m.fit()

In [ ]:
print(model1.summary())

In [ ]:
TP = con_mat1[1][1]
FP = con_mat1[0][1]
FN = con_mat1[1][0]
TN = con_mat1[0][0]

In [ ]:
# Manually calculating the different metrics
# Accuracy
Accuracy = (TP + TN)/(TP + TN + FP + FN)
Accuracy

In [ ]:
# Recall or Sensitivity or TPR
Recall = TP/(TP + FN)
Recall

In [ ]:
# Precision
Precision = TP/(TP + FP)
Precision

In [ ]:
# Specificity or TNR
Specificity = TN/(TN + FP)
Specificity

In [ ]:
# F1-Score

F1_Score = 2*Precision*Recall/(Precision + Recall)
F1_Score

In [ ]:
auc = roc_auc_score(y_test1,y_pred1)
auc

In [ ]:
# Plotting the ROC
fpr,tpr,thresholds = roc_curve(y_test1,y_pred1)
plt.plot(fpr,tpr,color='orange',label='ROC')
plt.plot([0,1],[0,1],color='darkblue',linestyle='--',label='ROC curve area=%0.2f'%auc)
plt.xlabel('False Positive Rate',c='brown')
plt.ylabel('True Positive Rate',c='brown')
plt.title('ROC')
plt.legend()
plt.show

In [ ]:
# Data Ingestion 

import matplotlib

In [ ]:
print(matplotlib.__version__)

In [ ]:
import matplotlib.pyplot
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
x = np.array([1,2,3,4])
y = np.array([10,20,30,40])
plt.plot(x,y)

In [ ]:
ypoint = np.array([3,8,1,10,5,7])
plt.plot(ypoint)
plt.show()

In [ ]:
days = list(range(0,22, 3))
celcius_values = [25.1, 24.6, 28, 27.8,32.8,30.5,32.8,33.1]

plt.plot(days, celcius_values)
plt.show()

In [ ]:
x = np.arange(1,11)
y = np.exp(x)  
plt.plot(x,y)

In [ ]:
y = np.array([3,8,1,10])
plt.plot(y, linestyle='-.')
plt.show()

In [ ]:
y = np.array([3,8,1,10])
plt.plot(y, linestyle='dotted', color='g', linewidth='12')
plt.show()

In [ ]:
y = np.array([3,8,1,10])
y1 = np.array([6,2,7,11])
plt.plot(y, linestyle='-.')
plt.plot(y)
plt.plot(y1)
plt.show()

In [ ]:
n = 256

x = np.linspace(-np.pi, np.pi, n, endpoint=True)
y = np.sin(2*x)
y1=  np.cos(2*x)

plt.plot(x,y, color='blue', alpha=1.00)
plt.plot(x,y1, color='green', alpha=1.00)
plt.fill_between(x,y,0, color='blue', alpha=.1)
plt.fill_between(x,y1,0, color='green', alpha=.1)
plt.show()

In [ ]:
n = 256

x = np.linspace(-np.pi, np.pi, n, endpoint=True)
y = np.cos(2*x)
plt.plot(x,y, color='green', alpha=1.00)
plt.fill_between(x,y,0, color='blue', alpha=.1)
plt.show()

In [ ]:
n = 256

x = np.linspace(-np.pi, np.pi, n, endpoint=True)
y = np.tan(2*x)
plt.plot(x,y, color='green', alpha=1.00)
plt.fill_between(x,y,0, color='blue', alpha=.1)
plt.show()

In [ ]:
# marker

x1 = np.array([0,1,2,3])
y1 = np.array([3,8,1,10])
x2 = np.array([0,1,2,3])
y2 = np.array([6,2,7,11])

plt.plot(x1,y1,x2,y2, marker='o')
plt.xlabel('profit')
plt.ylabel('month')
plt.title('Monthly Profit')
plt.legend(labels=('may','april'),loc='lower right')
plt.show()

In [ ]:
import matplotlib.pyplot as plt

y = [1,4,9,16,25,36,49,64]
x1 = [1,16,30,42,55,68,77,88]
x2 = [1,6,12,18,28,40,52,65]

plt.plot(x1,y, 'ys-')
plt.plot(x2,y, 'go--')
plt.legend(labels = ('tv','smartphone'), loc = 'lower right')
plt.grid(True)
plt.title('Digital Sales')
plt.xlabel('medium')
plt.ylabel('sales')
plt.show()

In [ ]:
#data display - bar

import matplotlib.pyplot as plt
import numpy as np


x = np.array = ["A","B","C","D"]
y = np.array = [3,8,1,10]
plt.bar(x,y)
plt.show()

In [ ]:
#Employee performance

x = ['Ramesh','Suresh','Mangal','Prashant']
y = [900, 800,700,980]
plt.barh(x,y)
plt.show()

In [ ]:
#Employee performance

x = ['Ramesh','Suresh','Mangal','Prashant']
y = [900, 800,700,980]
plt.bar(x,y, color = 'r')
plt.show()

In [ ]:
#Employee performance

x = ['Ramesh','Suresh','Mangal','Prashant']
y = [900, 800,700,980]
plt.bar(x,y, color = '#4CAF10')
plt.show()

In [ ]:
Team1 = [20, 35, 30, 35, 27]
Team2 = [25, 12, 34, 20, 25]

group = np.arange(5)
plt.bar(group, Team1, width=.35, color="y") 
plt.bar(group, Team2, width-.35, bottom=Team1, color="b") 
plt.xlabel('Scores')
plt.ylabel('Groups')

plt.title('Cricket Scores by IND vs AUS')
plt.xticks((group, ('G1','G2','G3','G4','G5'))
plt.yticks(np.arange(0,81,10))
plt.legend(labels=['Aus','Ind'])
plt.show()

In [ ]:
 y = np.array([35,25,65,15])
 lb = ['Loans','CrF','CASA','DbF']

 plt.pie(y, labels=lb)
 plt.show()

In [ ]:
# Employee performance

x = ['Ramesh','Suresh', 'Mahesh','Prashant']
y = [900,800,700,980]

plt.bar(x,y, color = 'r')
plt.show()

In [ ]:
# Employee performance

x = ['Ramesh','Suresh', 'Mahesh','Prashant']
y = [900,800,700,980]

plt.bar(x,y)
plt.show()

In [ ]:
import matplotlib.pyplot as plt
y = [1,4,9,16,25,36,49,64]
x1 = [1,16,30,42,55,68,77,88]
x2 = [1,6,12,18,28,40,52,65]

plt.plot(x1,y, 'ys-')
plt.plot(x2,y, 'go--')
plt.legend(labels=('tv','smartphone'), loc = 'lower right')
plt.grid(True)
plt.title('Product Sales')
plt.xlabel('medium')
plt.ylabel('sales')
plt.show()

In [ ]:
# marker

x1 = np.array([0,1,2,3])
y1 = np.array([3,8,1,10])
x2 = np.array([0,1,2,3])
y2 = np.array([6,2,7,11])

plt.plot(x1,y1, x2,y2, marker = 'o')
plt.xlabel('profit')
plt.ylabel('month')
plt.title('Monthly Profit')
plt.legend(labels=('may','april'),loc = 'lower right')
plt.show()

In [ ]:
n = 256
x = np.linspace(-np.pi, np.pi, n, endpoint = True)
y = np.sin(2*x)
plt.plot(x,y, color='blue', alpha = 1)
plt.fill_between(x,y,1, color = 'blue', alpha = .1)
plt.show()

In [ ]:
# Financial instruments, loans, credit car data,  CASA(), debitcars()

y = np.array([35,25,65,15])
lb = ['loan','crf','casa','ddf']
exp = [0.2,0,0.3,0.1]

plt.pie(y, labels=lb, startangle=180, explode=exp ,shadow = True)
plt.legend(title='blank finance data', loc='lower left')
plt.show()